{
    "extends": "airbnb-base",
    "rules": {
      "no-underscore-dangle": [
        "error",
        {
          "allow": [
            "_id"
          ]
        }
      ],
      "linebreak-style": 0,
      "eqeqeq": "off",
      "curly": "error",
      "quotes": ["error", "double"],
      "no-unsafe-optional-chaining": "off",
      "no-nonoctal-decimal-escape": "off"
      
    }
  }